@tailwind base;
@tailwind components;
@tailwind utilities;

.breath {
  animation: zoom-in-zoom-out 15s ease-in-out infinite;
}

.btn {
  @apply rounded border bg-primary px-[1em] py-[0.5em] font-bold uppercase text-white shadow-md hover:border-dark;
}

.pair {
  @apply w-[80%] sm:w-[50%] md:w-[35%] lg:w-[30%] xl:w-[25%] xxl:w-[20%];
}

.page-scale {
  @apply w-[90%] md:w-[75%] xl:w-[60%] xxl:w-[50%];
}

.message {
  @apply absolute rounded-lg bg-white p-3 text-black shadow-md;
}

.heading {
  font-family: var(--font-bebas);
  @apply text-4xl uppercase text-dark;
}

.heading-sm {
  font-family: var(--font-bebas);
  @apply text-3xl uppercase text-dark;
}

.input {
  @apply h-[2.5em] rounded-lg border-2 border-darkLight px-3 shadow-md active:border-dark;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.07, 1.07);
  }
  100% {
    transform: scale(1, 1);
  }
}
